<div class="dropdown">
    <button class="btn btn-link text-muted p-0" type="button" id="dropdownMenuBtn{{ comment_id }}" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuBtn{{ comment_id }}">
        <!-- Opción Eliminar -->
        <li>
            <form action="{{ url_for('review_bp.remove_review', review_id=comment_id) }}" method="POST" class="m-0 p-0">
                <button type="submit" class="dropdown-item text-danger">Eliminar</button>
            </form>
        </li>
        <!-- Placeholder para Editar -->
        <li>
  <button class="dropdown-item text-muted" onclick="showEditPrompt('{{ comment_id }}', '{{ comment.comment }}', '{{ comment.rating }}')">Editar</button>
        </li>

        <!-- Responder -->
        <li>
            <button type="button" class="dropdown-item text-muted" onclick="showReplyPrompt('{{ comment_id }}', '{{ tutor_id }}')">Responder</button>
        </li>
    </ul>
</div>

<script>
function showReplyPrompt(reviewId, tutorId) {

    const form = document.getElementById('reviewForm');
    form.action = `/reply-review/${reviewId}`;
    openReviewPopup('Responde al comentario', 0, '', false);
}

function showEditPrompt(reviewId, currentComment, currentRating) {
    
    const form = document.getElementById('reviewForm');
    form.action = `/edit-review/${reviewId}`;
    openReviewPopup('Edita tu resena', currentRating, currentComment);
}
</script>

