{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container text-center">
      <div class="card shadow-lg rounded-4 p-4">
        <div class="card-body">
  
          {% if person %}
            <h1 class="card-title mb-3">Hi, {{ person }} 👋</h1>
          {% else %}
            <h1>Hi 👋</h1>
          {% endif %}
          
          <p class="card-text fs-5">This is a proof of concept of a web app to take notes made with Flask!</p>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}