<!-- sendmail.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Correo de Prueba</title>
</head>
<body>
  <h1>Enviar Correo de Prueba</h1>

  <form action="{{ url_for('mail_bp.send') }}" method="POST">
    <input type="email" name="email" placeholder="Tu correo" required>
    <button type="submit">Enviar Correo</button>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
</body>
</html>
