<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tutoring.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/tutoring_style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>{{ tutoring.title }}</h1>
    <div class="divider"></div>

    <div class="details">
    <div class="detail-item"><i class="fa-solid fa-chalkboard-user"></i><span><strong>Tutor:</strong> {{ tutoring.tutor }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-book"></i><span><strong>Curso:</strong> {{ tutoring.subject }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-calendar-days"></i><span><strong>Fecha:</strong> {{ tutoring.date }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-clock"></i><span><strong>Hora:</strong> {{ tutoring.start_time }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-pen-to-square"></i><span><strong>Descripción:</strong> {{ tutoring.description }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-laptop"></i><span><strong>Modalidad:</strong> {{ tutoring.method }}</span></div>
    <div class="detail-item"><i class="fa-solid fa-user-group"></i><span><strong>Cupos disponibles:</strong> {{ tutoring.capacity }}</span></div>
    </div>

    <a href="{% if user_role == 'tutor' %}{{ url_for('tutorial.listTutorTutorials') }}{% else %}{{ url_for('tutorial.getListTutorials') }}{% endif %}" class="button-back">
        Volver a la lista de tutorías
      </a>
      
    
    <div class="students">
    <h2>Estudiantes Inscritos</h2>
    {% if tutoring.student_list %}
        <div class="student-list">
        {% for student in tutoring.student_list %}
        <div class="student-card">
            <i class="fa-solid fa-user"></i>
            <span class="student-name">{{ student.name }}</span>
        </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No hay estudiantes inscritos.</p>
    {% endif %}
    </div>
    </div>
</body>
</html>