{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='tutoring_style.css') }}">
{% endblock %}
{% include 'navbar.html' %}
{% block content %}


<div class="content">
    <div class="flash">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {{ messages[0] }}
        {% endif %}
      {% endwith %}
    </div>
  <div class="container">
    <h1>{{ tutoring.title }}</h1>
    <div class="divider"></div>

    <div class="details">
      <div class="detail-item">
        <i class="fa-solid fa-chalkboard-user"></i>
        <span><strong>Tutor:</strong> {{ tutoring.tutor }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-book"></i>
        <span><strong>Curso:</strong> {{ tutoring.subject }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span><strong>Fecha:</strong> {{ tutoring.date }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-clock"></i>
        <span><strong>Hora:</strong> {{ tutoring.start_time }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-pen-to-square"></i>
        <span><strong>Descripción:</strong> {{ tutoring.description }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-laptop"></i>
        <span><strong>Modalidad:</strong> {{ tutoring.method }}</span>
      </div>
      <div class="detail-item">
        <i class="fa-solid fa-user-group"></i>
        <span><strong>Cupos disponibles:</strong> {{ tutoring.capacity - tutoring.student_list|length }}</span>
      </div>

      {% if user_role == 'tutor' and tutoring.method == 'Virtual' %}
      <div class="detail-item" style="display: flex; align-items: center; gap: 10px;">
        <i class="fa-solid fa-user-group"></i>
        <span><strong>Plataforma:</strong></span>
    
        <form action="{{ url_for('tutorial.create_zoom_meeting', id=tutoring.id if tutoring else '') }}" method="post" style="margin: 0;">
          <button type="submit" class="create-zoom">Crear reunión Zoom</button>
        </form>
      </div>
    {% endif %}
    

      {% if button %}
        <div class="detail-item">
          {{ button|safe }}
        </div>
      {% endif %}
    </div>

    <button onclick="window.history.back()" class="button-back">
    Volver a la lista de tutorías
    </button>



    <div class="students mt-4">
      <h2>Estudiantes Inscritos</h2>
      {% if tutoring.student_list %}
        <div class="student-list">
          {% for student in tutoring.student_list %}
            <div class="student-card">
              <i class="fa-solid fa-user"></i>
              <span class="student-name">{{ student.name }}</span>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No hay estudiantes inscritos.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
